.tabs .tab a:hover, .tabs .tab a.active {
  color: #4d20e19c !important;
}
.tabs .tab a {
  color: #4c20e1 !important;
  border-radius: 8px;
}
.tabs .tab a:focus, .tabs .tab a:focus.active {
  background-color: #4d20e10c !important;
  border-radius: 8px;
}
.tabs .tab.disabled a, .tabs .tab.disabled a:hover {
  color: rgba(73, 73, 73, 0.678) !important;
}
.tabs .tab.disabled a:focus, .tabs .tab.disabled a:focus.active {
  background-color: transparent !important;
}
.tabs .indicator {
  background-color: #4c20e1 !important;
}

.service-details .tabs {
  height: auto !important;
  padding: 0 1.5rem !important;
  background-color: transparent;
}
.service-details .tabs .indicator {
  background-color: transparent !important;
}
.service-details .tabs .tab {
  height: auto !important;
}
.service-details .tabs .tab .tab-title {
  font-size: 20px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  padding: 0;
  text-overflow: unset;
  overflow: unset;
  background-color: transparent;
  margin-top: 1.5rem;
  width: 90% !important;
}
.service-details .tabs .tab .tab-title.active {
  color: #fff !important;
  background-color: #4c20e1 !important;
  border-radius: 8px;
}
.service-details .fixed {
  margin-top: 5rem;
  top: 64px;
  position: -webkit-sticky !important;
  position: sticky !important;
  /* max-width: 1280px !important; */
}
.service-details .service-title {
  margin-top: 5rem;
  margin-bottom: 3rem;
  word-break: break-all;
  font-size: 30px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.07;
  letter-spacing: normal;
  color: #3c3d3f;
}
.service-details .service-content {
  white-space: pre-wrap;
  word-break: break-all;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #272727;
}
.service-details .container {
  position: relative;
}
.service-details .service-description .divider {
  margin: 3rem 0;
  background-color: #cfcfcf;
}
.service-details .service-description .video-wrapper .swiper-pagination .swiper-pagination-bullet {
  width: 36px;
  height: 36px;
  border: solid 2px #d4d4d4;
  background-color: #ffffff;
  font-size: 18px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.7;
  letter-spacing: normal;
  text-align: center;
  color: #9b9b9b;
  opacity: 1;
}
.service-details .service-description .video-wrapper .swiper-pagination .swiper-pagination-bullet-active {
  color: #fff;
  background-color: #4c20e1;
  border: solid 2px #4c20e1;
}
.service-details .service-description .video-wrapper video {
  margin-bottom: 5rem;
}
.serviceSetting .service-description .service-intro,
.service-details .service-description .service-intro {
  /* display: inline-block;
  border-bottom: 3px solid black;
  padding-bottom: .35rem; */
  font-size: 28px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #272727;
}
.serviceSetting .service-description .images-area,
.service-details .service-description .images-area {
  height: 200px;
  margin: 0 2rem 0 0;
}
.serviceSetting .service-description .images-area .indicators .indicator-item,
.service-details .service-description .images-area .indicators .indicator-item {
  background-color: rgba(61, 59, 59, 0.548);
} 
.serviceSetting .service-description .images-area .indicators .indicator-item.active,
.service-details .service-description .images-area .indicators .indicator-item.active {
  background-color: black;
}
.service-details .service-description .refund-text {
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.56;
  letter-spacing: normal;
  color: #272727;
}
.service-details .service-description .no-reference-text {
  margin: 1em 0;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.56;
  letter-spacing: normal;
  color: #272727;
}

.service-details .price-wrapper {
  width: 33.33333333%;
  background-color: #fff;
  position: relative;
  border-radius: 8px;
  border: solid 2px #dedede;
  margin-bottom: 0;
}
.service-details .price-wrapper ul.tabs {
  padding: 0;
}
.service-details .price-wrapper i.material-icons {
  vertical-align: middle;
}
.service-details .price-wrapper .divider {
  float: unset;
  margin: 0 auto;
}
.service-details .price-wrapper .basic-title {
  margin-top: 1.5rem;
  font-size: 18px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #272727;
}
.service-details .price-wrapper .basic-intro {
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #272727;
  margin: 0 0 1.5rem 0;
}
.service-details .price-wrapper .option-text {
  font-size: 16px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #272727;
}
.service-details .price-wrapper .subOptions {
  margin-top: 1.5rem;
}
.service-details .price-wrapper .subOptions .suboption-title {
  margin: 0;
  font-size: 18px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #272727;
}
.service-details .price-wrapper .subOptions .img-icons {
  margin-right: .5rem;
  transform: translateY(4.5px);
}
.service-details .price-wrapper .subOptions i.left {
  margin-right: 0.15rem;
  font-size: 20px;
}

.service-details .price-wrapper .options {
  padding-bottom: 1.5rem;
  margin: 0;
}
.service-details .price-wrapper .options .circle-icons {
  transform: translateY(7px);
}
.service-details .price-wrapper .price {
  margin-top: 1rem;
  margin-bottom: 5rem;
}
.service-details .price-wrapper .buyBtn {
  padding: 0 .75rem;
  background-color: #4c20e1;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 4rem;
  font-size: 18px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
  margin-top: 1rem;
  margin-bottom: 1.5rem;
}

.service-details #BASIC, .service-details #PRO {
  padding: 1rem 1rem;
}

.service-details .provider-profile {
  position: relative;
  width: 33.33333333%;
  margin-bottom: 0;
}
.service-details .provider-profile .card {
  border-radius: 8px;
  border: solid 2px #dedede;
  background-color: #ffffff;
  margin-top: 0;
  max-height: 403px;
}
.service-details .provider-profile .card .editorTools {
  max-height: 44px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.service-details .provider-profile .card .chips {
  display: flex;
  overflow: hidden;
  max-height: 37px;
}
.service-details .provider-profile .card .card-image {
  padding: .75rem 0;
  display: flex;
}
.service-details .provider-profile .card .card-image .profile-title {
  margin-left: 1rem;
}
.service-details .provider-profile .card .card-image .profile-nickname {
  font-size: 20px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #424242;
  margin: 0;
}
.service-details .provider-profile .card .card-content .profile-list {
  font-size: 16px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #3c3d3f;
  margin-bottom: 1rem;
}
.service-details .provider-profile .card .card-content .profile-list-ans {
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #3c3d3f;
  margin-bottom: 1rem;
}
.service-details .provider-profile .card .card-image .more-info {
  /*  */
}
.service-details .provider-profile .card .card-image img{
  border-radius: 50%;
  width: 100px;
  height: 100px;
}
.service-details .rate i.material-icons {
  font-size: 18px;
  color: #ffbf00;
}
.service-details .provider-profile .card .card-title {
  margin-bottom: 1.5rem;
}
.service-details .provider-profile .card .card-content {
  padding: .75rem;
  margin-bottom: .75rem;
}
.service-details .provider-profile .card .chips input {
  display: none;
}
.service-details .provider-profile .card .chips {
  border: none;
  margin-bottom: 2rem;
}
.service-details .provider-profile .card .chatBtn {
  padding: 0 .75rem;
  background-color: #4c20e1;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 4rem;
  font-size: 18px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
  margin-top: 1rem;
}

.service-details .thumbnail {
  margin-bottom: 5rem;
}
.service-details .review .date-time {
  color: gray !important;
  margin-left: 1.5rem;
}
.serviceSetting .re_thumbnail .thumb,
.serviceSetting .thumbnail .thumb,
.service-details .thumbnail .thumb {
  width: 100%;
  height: 382px;
  border-radius: 10px;
}
.serviceSetting .re_thumbnail .side-img,
.serviceSetting .thumbnail .side-img,
.service-details .thumbnail .side-img {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding-left: 0;
}
.serviceSetting .re_thumbnail .side,
.serviceSetting .thumbnail .side,
.service-details .thumbnail .side {
  width: 100%;
  height: 120px;
  margin-bottom: 11px;
  border-radius: 8px;
}
.serviceSetting .thumbnail .under-side,
.service-details .thumbnail .under-side {
  height: 15rem;
  margin-top: 1.5rem;
  width: 100%;
}

/* mobile responsive design */
.service-details {
  min-width: 950px;
}
.service-details #service-details .fixed {
  padding: 0 0 0 1.5rem;
}
.service-details #service-details .fixed .provider-profile {
  width: 100%;
  margin: 0;
}
.service-details #service-details .fixed .price-wrapper {
  width: 100%;
  margin: 0;
}
.service-details #service-details .service-description {
  min-width: 600px;
}
.service-details #service-details .hidden-over-desktop {
  display: none;
}
.service-details #service-details .hidden-over-desktop h5.sub-title {
  display: inline-block;
  border-bottom: 3px solid black;
  padding-bottom: .35rem;
}

@media only screen and (max-width: 1024px), screen and (max-height: 850px) {
  .service-details {
    min-width: unset;
    width: 100% !important;
  }
  #service-details {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  .service-details #service-details .fixed {
    display: none;
  }
  .service-details #service-details .service-description {
    width: 100%;
    min-width: unset;
    margin-left: 0;
    padding: 0 5rem;
  }

  .service-details #service-details .hidden-over-desktop {
    display: block;
  }
  .service-details .provider-profile {
    width: 100%;
    height: 500px;
    margin-left: 0 !important;
  }
  .service-details .provider-profile .card {
    margin-bottom: 0;
    height: 500px;
    max-height: unset;
  }
  .service-details .provider-profile .card .card-content .col.profile-list {
    margin: 1rem 0;
  }
  .service-details .price-wrapper {
    width: 100%;
    height: 500px;
    margin-left: 0 !important;
  }
  .service-details .price-wrapper .price {
    margin: 0;
    position: absolute;
    bottom: 5rem;
    left: 50% !important;
    transform: translateX(-50%);
  }
  @media only screen and (min-width: 1150px) and (max-width: 1550px) {
    .service-details #service-details .service-description {
      padding: 0 15rem;
    }
  }
  @media only screen and (min-width: 1025px) and (max-width: 1150px) {
    .service-details #service-details .service-description {
      padding: 0 10rem;
    }
  }
}
@media only screen and (max-width: 780px) {
  .service-details #service-details .service-description {
    width: 100%;
    min-width: unset;
    margin-left: 0;
    padding: 0 2rem;
  }
}

@media only screen and (max-width: 600px) {
  .service-details .thumbnail .thumb-img {
    padding-bottom: 100%;
    height: unset;
    position: relative;
  }
  .service-details .thumbnail .thumb {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }
  .service-details .thumbnail .side-img {
    margin: 1.5rem 0;
    padding-bottom: 25%;
    position: relative;
  }
  .service-details .thumbnail .side {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }
  .service-details .thumbnail .under-side-img {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 40%;
    position: relative;
    margin-bottom: 3rem;
  }
  .service-details .thumbnail .under-side-img .under-side {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;

  }
}
@media only screen and (max-width: 450px) {
  .service-details .thumbnail .under-side {
    height: 7.5rem;
  }
}
