.tabs .tab a:hover, .tabs .tab a.active {
  color: #4F328F !important;
}
.tabs .tab a {
    color: rgba(80, 50, 143, 0.568) !important;
}
.tabs .tab a:focus, .tabs .tab a:focus.active {
  background-color: rgba(80, 50, 143, 0.199) !important;
}
.tabs .tab.disabled a, .tabs .tab.disabled a:hover {
  color: rgba(129, 126, 126, 0.4) !important;
}
.tabs .tab.disabled a:focus, .tabs .tab.disabled a:focus.active {
  background-color: transparent !important;
}
.tabs .indicator {
  background-color: #4F328F !important;
}
.service-details .fixed {
  position: fixed !important;
  width: 70% !important;
  max-width: 1280px !important;
}
.service-details .service-title {
  margin-top: 5rem;
  margin-bottom: 3rem;
  word-break: break-all;
}
.service-details .service-content {
  white-space: pre-wrap;
  word-break: break-all;
}
.service-details .container {
  position: relative;
}
.service-details .service-description .video-wrapper video {
  margin-bottom: 2rem;
}
.serviceSetting .service-description .service-intro,
.service-details .service-description .service-intro {
  display: inline-block;
  border-bottom: 3px solid black;
  padding-bottom: .35rem;
}
.serviceSetting .service-description .images-area,
.service-details .service-description .images-area {
  height: 200px;
  margin: 0 2rem 0 0;
}
.serviceSetting .service-description .images-area .indicators .indicator-item,
.service-details .service-description .images-area .indicators .indicator-item {
  background-color: rgba(61, 59, 59, 0.548);
} 
.serviceSetting .service-description .images-area .indicators .indicator-item.active,
.service-details .service-description .images-area .indicators .indicator-item.active {
  background-color: black;
}

.service-details .price-wrapper {
  width: 33.33333333%;
  background-color: #fff;
  position: relative;
  border: 1px solid #4F328F;
  margin-bottom: 0;
}
.service-details .price-wrapper ul.tabs {
  padding: 0;
}
.service-details .price-wrapper i.material-icons {
  vertical-align: middle;
}
.service-details .price-wrapper .basic-intro {
  margin: 0.6rem 0;
}
.service-details .price-wrapper .subOptions i.left {
  margin-right: 0.15rem;
  font-size: 20px;
}

.service-details .price-wrapper .options {
  padding-bottom: .75rem;
  margin: 0;
}
.service-details .price-wrapper .price {
  margin-top: 1rem;
  margin-bottom: 5rem;
}
.service-details .price-wrapper .buyBtn {
  background-color: #4F328F;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: unset;
  height: 4rem;
  left: 0 !important;
  bottom: 0;
  font-size: 1.5rem;
}

.service-details #BASIC, .service-details #PRO {
  padding: 1rem 1rem;
}

.service-details .provider-profile {
  position: relative;
  width: 33.33333333%;
  margin-bottom: 0;
}
.service-details .provider-profile .card {
  border: 1px solid #4F328F;
  margin-top: 0;
  max-height: 403px;
}
.service-details .provider-profile .card .editorTools {
  max-height: 44px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.service-details .provider-profile .card .chips {
  display: flex;
  overflow: hidden;
  max-height: 37px;
}
.service-details .provider-profile .card .card-image {
  padding: .75rem 0;
  display: flex;
}
.service-details .provider-profile .card .card-image .profile-title {
  margin-left: 1rem;
}
.service-details .provider-profile .card .card-image .profile-nickname {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 0;
}
.service-details .provider-profile .card .card-image .more-info {
  /*  */
}
.service-details .provider-profile .card .card-image img{
  border-radius: 30%;
  border: 1px solid rgba(70, 69, 69, 0.288);
  width: 100px;
  height: 100px;
}
.service-details .rate i.material-icons {
  font-size: 18px;
  color: #ffbf00;
}
.service-details .provider-profile .card .card-title {
  margin-bottom: 1.5rem;
}
.service-details .provider-profile .card .card-content {
  padding: .75rem;
  margin-bottom: 60px;
}
.service-details .provider-profile .card .chips input {
  display: none;
}
.service-details .provider-profile .card .chips {
  border: none;
  margin-bottom: 2rem;
}
.service-details .provider-profile .card .chatBtn {
  background-color: #4F328F;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: unset;
  height: 4rem;
  left: 0;
  bottom: 0;
  font-size: 1.5rem;
}

.service-details .review .date-time {
  color: gray !important;
  margin-left: 1.5rem;
}
.serviceSetting .re_thumbnail .thumb,
.serviceSetting .thumbnail .thumb,
.service-details .thumbnail .thumb {
  width: 100%;
  height: 30rem;
}
.serviceSetting .re_thumbnail .side-img,
.serviceSetting .thumbnail .side-img,
.service-details .thumbnail .side-img {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.serviceSetting .re_thumbnail .side,
.serviceSetting .thumbnail .side,
.service-details .thumbnail .side {
  width: 100%;
  height: 10rem;
}
.serviceSetting .thumbnail .under-side,
.service-details .thumbnail .under-side {
  height: 15rem;
  margin-top: 1.5rem;
  width: 100%;
}

/* mobile responsive design */
.service-details {
  min-width: 950px;
}
.service-details #service-details .fixed {
  margin-left: -0.75rem;
}
.service-details #service-details .fixed .provider-profile {
  min-width: 330px;
}
.service-details #service-details .fixed .price-wrapper {
  min-width: 330px;
}
.service-details #service-details .service-description {
  min-width: 600px;
  margin-left: 36%;
}
.service-details #service-details .hidden-over-desktop {
  display: none;
}
.service-details #service-details .hidden-over-desktop h5.sub-title {
  display: inline-block;
  border-bottom: 3px solid black;
  padding-bottom: .35rem;
}

@media only screen and (max-width: 1024px), screen and (max-height: 900px) {
  .service-details {
    min-width: unset;
    width: 100% !important;
  }
  #service-details {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  .service-details #service-details .fixed {
    display: none;
  }
  .service-details #service-details .service-description {
    width: 100%;
    min-width: unset;
    margin-left: 0;
    padding: 0 5rem;
  }
  .service-details #service-details .hidden-over-desktop {
    display: block;
  }
  .service-details .provider-profile {
    width: 100%;
    height: 500px;
    margin-left: 0 !important;
  }
  .service-details .provider-profile .card {
    margin-bottom: 0;
    height: 500px;
    max-height: unset;
  }
  .service-details .provider-profile .card .card-content .col {
    margin: 1rem 0;
  }
  .service-details .price-wrapper {
    width: 100%;
    height: 500px;
    margin-left: 0 !important;
  }
  .service-details .price-wrapper .price {
    margin: 0;
    position: absolute;
    bottom: 5rem;
    left: 50% !important;
    transform: translateX(-50%);
  }
  @media only screen and (min-width: 1150px) and (max-width: 1550px) {
    .service-details #service-details .service-description {
      padding: 0 15rem;
    }
  }
  @media only screen and (min-width: 1025px) and (max-width: 1150px) {
    .service-details #service-details .service-description {
      padding: 0 10rem;
    }
  }
}
@media only screen and (max-width: 780px) {
  .service-details #service-details .service-description {
    width: 100%;
    min-width: unset;
    margin-left: 0;
    padding: 0 2rem;
  }
}

@media only screen and (max-width: 600px) {
  .service-details .thumbnail .thumb-img {
    padding-bottom: 100%;
    height: unset;
    position: relative;
  }
  .service-details .thumbnail .thumb {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }
  .service-details .thumbnail .side-img {
    margin: 1.5rem 0;
    padding-bottom: 25%;
    position: relative;
  }
  .service-details .thumbnail .side {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }
  .service-details .thumbnail .under-side-img {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 40%;
    position: relative;
    margin-bottom: 3rem;
  }
  .service-details .thumbnail .under-side-img .under-side {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;

  }
}
@media only screen and (max-width: 450px) {
  .service-details .thumbnail .under-side {
    height: 7.5rem;
  }
}
