.tabs .tab a:hover, .tabs .tab a.active {
  color: #4F328F !important;
}
.tabs .tab a {
    color: rgba(80, 50, 143, 0.568) !important;
}
.tabs .tab a:focus, .tabs .tab a:focus.active {
  background-color: rgba(80, 50, 143, 0.199) !important;
}
.tabs .tab.disabled a, .tabs .tab.disabled a:hover {
  color: rgba(129, 126, 126, 0.4) !important;
}
.tabs .tab.disabled a:focus, .tabs .tab.disabled a:focus.active {
  background-color: transparent !important;
}
.tabs .indicator {
  background-color: #4F328F !important;
}
.service-details .fixed {
  margin-top: 5rem;
  position: fixed !important;
  width: 70% !important;
  max-width: 1280px !important;
}
.service-details .service-title {
  margin-top: 5rem;
  margin-bottom: 3rem;
}
.service-details .container {
  position: relative;
}
.service-details .service-description .video-wrapper video {
  margin-bottom: 2rem;
}
.serviceSetting .service-description .service-intro,
.service-details .service-description .service-intro {
  display: inline-block;
  border-bottom: 3px solid black;
  padding-bottom: .35rem;
}
.serviceSetting .service-description .images-area,
.service-details .service-description .images-area {
  height: 200px;
  margin: 0 2rem 0 0;
}
.serviceSetting .service-description .images-area .indicators .indicator-item,
.service-details .service-description .images-area .indicators .indicator-item {
  background-color: rgba(61, 59, 59, 0.548);
} 
.serviceSetting .service-description .images-area .indicators .indicator-item.active,
.service-details .service-description .images-area .indicators .indicator-item.active {
  background-color: black;
}

.service-details .price-wrapper {
  width: 33.33333333%;
  background-color: #fff;
  position: relative;
  border: 1px solid #4F328F;
}
.service-details .price-wrapper i.material-icons {
  vertical-align: middle;
}
.service-details .price-wrapper .basic-intro {
  margin: 0.6rem 0;
}

.service-details .price-wrapper .options {
  padding-bottom: .75rem;
  margin: 0;
}
.service-details .price-wrapper .price {
  margin-top: 1rem;
  margin-bottom: 5rem;
}
.service-details .price-wrapper .buyBtn {
  background-color: #4F328F;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: unset;
  height: 4rem;
  left: 0 !important;
  bottom: 0;
  font-size: 1.5rem;
}

.service-details #BASIC, .service-details #PRO {
  padding: 1rem 1rem;
}

.service-details .provider-profile {
  position: relative;
  width: 33.33333333%;
}
.service-details .provider-profile .card {
  border: 1px solid #4F328F;
  margin-top: 0;
}
.service-details .provider-profile .card .card-image {
  padding: 24px;
  display: flex;
}
.service-details .provider-profile .card .card-image .profile-title {
  margin-left: 1rem;
}
.service-details .provider-profile .card .card-image .profile-nickname {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 0;
}
.service-details .provider-profile .card .card-image .more-info {
  /*  */
}
.service-details .provider-profile .card .card-image img{
  border-radius: 30%;
  border: 1px solid rgba(70, 69, 69, 0.288);
  width: 100px;
  height: 100px;
}
.service-details .rate i.material-icons {
  font-size: 18px;
  color: #ffbf00;
}
.service-details .provider-profile .card .card-title {
  margin-bottom: 1.5rem;
}
.service-details .provider-profile .card .provider-intro {
  padding: 0 .75rem;
}
.service-details .provider-profile .card .chips input {
  display: none;
}
.service-details .provider-profile .card .chips {
  border: none;
  margin-bottom: 2rem;
}
.service-details .provider-profile .card .chatBtn {
  background-color: #4F328F;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: unset;
  height: 4rem;
  left: 0;
  bottom: 0;
  font-size: 1.5rem;
}

.service-details .review .date-time {
  color: gray !important;
  margin-left: 1.5rem;
}
.serviceSetting .re_thumbnail .thumb,
.serviceSetting .thumbnail .thumb,
.service-details .thumbnail .thumb {
  width: 100%;
  height: 30rem;
}
.serviceSetting .re_thumbnail .side-img,
.serviceSetting .thumbnail .side-img,
.service-details .thumbnail .side-img {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.serviceSetting .re_thumbnail .side,
.serviceSetting .thumbnail .side,
.service-details .thumbnail .side {
  width: 100%;
  height: 10rem;
}
.serviceSetting .thumbnail .under-side,
.service-details .thumbnail .under-side {
  height: 15rem;
  margin-top: 1.5rem;
}

/* mobile responsive design */
.service-details {
  min-width: 950px;
}
.service-details #service-details .fixed {
  margin-left: .75rem;
}
.service-details #service-details .fixed .provider-profile {
  min-width: 330px;
}
.service-details #service-details .fixed .price-wrapper {
  min-width: 330px;
}
.service-details #service-details .service-description {
  min-width: 600px;
  margin-left: 36%;
}
.service-details #service-details .hidden-over-desktop {
  display: none;
}
.service-details #service-details .hidden-over-desktop h5.sub-title {
  display: inline-block;
  border-bottom: 3px solid black;
  padding-bottom: .35rem;
}

@media only screen and (max-width: 1024px) {
  .service-details {
    min-width: unset;
    width: 100% !important;
  }
  #service-details {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  .service-details #service-details .fixed {
    display: none;
  }
  .service-details #service-details .service-description {
    width: 100%;
    min-width: unset;
    margin-left: 0;
    padding: 0 2rem;
  }
  .service-details #service-details .hidden-over-desktop {
    display: block;
  }
  .service-details .provider-profile {
    width: 100%;
    margin-left: 0 !important;
  }
  .service-details .price-wrapper {
    width: 100%;
    margin-left: 0 !important;
  }
}