.community_sidenav{
	width: 15rem;
	display: flex;
	flex-direction: column;
	position: fixed;
	background: #fff;
	height: 100%;
	top: 64px;
	left: 0;
	margin-right: 20px;
}

.post-list{
	display: flex;
	flex-wrap: wrap;
	position: relative;
	margin-left: -.875rem;
	margin-right: -.875rem;
}

.post_summary {
	width: calc(33.333% - 1.75rem);
	margin: .875rem;
	position: relative;
	background: #fff;
	margin-top: 1.5rem;
	margin-bottom: 1.5rem;
	box-shadow: 0 0 4px rgba(0,0,0,.05);
	display: flex;
	flex-direction: column;
	height: 458px;
}

.post_summary .card-content{
	height: 180px;
	overflow: hidden !important;
}

.communityTemplate {
	padding-left: 1.75rem;
	padding-right: 1.75rem;
	margin-left : 50px;
}

.profile_img {
	width: 40px !important;
	height: 40px !important;
	position: relative !important;
}