.community_sidenav{
	width: 15rem;
	display: flex;
	flex-direction: column;
	position: fixed;
	background: #fff;
	height: 100%;
	top: 64px;
	left: 0;
	margin-right: 20px;
}

.sidenavbar .sidenav{
	top: auto;
}

.post-list{
	display: flex;
	flex-wrap: wrap;
	position: relative;
	margin-left: -.875rem;
	margin-right: -.875rem;
}

.post_summary {
	width: 300px;
	margin: .875rem;
	position: relative;
	background: #fff;
	margin-top: 1.5rem;
	margin-bottom: 1.5rem;
	box-shadow: 0 0 4px rgba(0,0,0,.05);
	display: flex;
	flex-direction: column;
	height: 458px;
}

.postComment .collection {
	overflow: unset;
	white-space: pre-wrap;
}

.postComment .collection .collection-item:last-child{
	border-bottom: 1px solid #e0e0e0
}

.comment_form{
	overflow:hidden;
}

.postCommentSummary{
	white-space: pre-wrap;
	word-wrap: break-word;
}

.post_summary .card-content{
	height: 180px;
	overflow:hidden;
}
.card-content .card-title {
	white-space: nowrap;
	overflow:hidden;
	text-overflow: ellipsis;
	-webkit-line-clamp: 1;
	-webkit-box-orient: vertical;
	word-wrap: break-word;
}
.card-content .post-content{
	height: 72px;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
	word-wrap: break-word;
}

.communityTemplate {
	padding-left: 1.75rem;
	padding-right: 1.75rem;
	margin-left : 300px;
}
@media only screen and (max-width: 992px){
	.communityTemplate{
		margin-left: 0;
	}
}

.btn-floating .profile_img {
	width: inherit !important;
	height: inherit !important;
	position: relative !important;
}

.communityDashboard{
	margin-right: 0;
	position: relative;
}

.post-details .card-image img{
	height: 350px;
}
@media only screen and (min-width: 992px){
	.post-details .card-image img{
		height: 500px;
	}
}

.postCommentSummary .dropdown-trigger {
	position: absolute;
	top: 0;
	right: 0;
}

.notLogin_profile{
	margin-left: 35%;
}
.notLogin_login{
	margin-left: 40%;
}

.login_profile{
	margin-left: 34.5%
}