.post-content {
	resize: none;
	padding:10px;
	width: 100%;
	height: 300px;
}

.post-content:focus{
	outline: 0;
}

.myEditor .public-DraftEditor-content{
	height: 500px;
	border: 1px solid rgb(220,220,220);
	background-color: white;
	overflow-y: scroll;
}

.myEditor .public-DraftStyleDefault-block{
	margin: 0;
	margin-left: 10px;
}