.allServices .all-title {
  margin-top: 5rem;
  margin-bottom: 2rem;
}
.all_services_area .preloader {
  /* for SingleCategory & AllService both */
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: none;
}
