.purchase-page .category{
	margin-top: 5rem;
	margin-bottom: 3rem;
}
.purchase-page .service-preview .image-area {
  padding: 0;
}
.purchase-page .service-preview .image-area .preview-img {
  width: 100%;
}
.purchase-page .service-preview .provider-nickname {
  position: absolute;
  bottom: 0;
  color: gray;
}

.additionalPrice {
  margin-bottom: 3rem;
}
.additionalPrice thead {
  background-color: rgba(200, 200, 255, 0.658);
}

.purchase-page tbody {
  background-color: #fff;
}

.basic-purchase thead {
	background-color: rgb(246, 224, 247);
}
.basic-purchase {
	margin-bottom: 20px;
	line-height: 2rem;
}
.basic-purchase .options {
  display: flex;
  justify-content: center;
  clear: both;
}
@media only screen and (max-width: 400px) {
  .basic-purchase .options i.material-icons.left {
    display: none;
  }
}


.option-purchase thead {
	background-color: rgb(245, 208, 208);
}

/* .purchase-form {
	border: 1px solid rgb(241,241,241);
	padding: 16px;
} */

.option-purchase label{
	color: black;
}
.option-purchase #plus_time {
  width: 100px;
  text-align: center;
}

.purchase-price {
	margin-top: 30px;
	border: 1px solid rgb(241,241,241);
}
.panel-heading {
	background-color: rgb(241,241,241);
  padding: 10px;
}
.panel-body {
  padding-top: 20px;
  font-weight: bold;
  background-color: #fff;
}

.purchase-method {
	margin-top: 30px;
	border: 1px solid rgb(241,241,241);
}

.purchase-method .panel-body{
	padding-bottom: 20px;
}

.purchase-method .panel-body p{
	display: inline !important ;
}

.purchase-method span{
	color: black;
}
.tax {
	margin-top: 30px;
	border: 1px solid rgb(241,241,241);
}

.tax .panel-body {
	padding: 10px;
}

.purchase-btn {
	margin-top: 30px;
  margin-bottom: 5rem;
  width: 450px;
}
@media only screen and (max-width: 1200px) {
  .purchase-btn {
    width: 100%;
  }
}

.purchasedone {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 5rem;
}
.purchasedone .Link-purchaseDetails {
  cursor: pointer;
}
.purchasedone .Link-purchaseDetails:hover {
  color: grey !important;
}
.purchasedone-btn {
  display: flex;
  justify-content: center;
}
.purchasedone-btn .homeIcon {
  margin-right: 0;
}

.purchasedone-btns {
  margin-top: 5rem;
  display: flex;
  justify-content: center;
}

.purchaseDetails .category {
  margin-top: 5rem;
	margin-bottom: 3rem;
}
.purchaseDetails tbody {
  background-color: #fff;
}
.purchaseDetails .collection {
  background-color: #fff;
}
.thumbnail-img {
  width: 100%;
  height: 15rem;
}
