.chat-content {
	height: calc(100vh - 200px);
	padding: 25px;
	box-sizing: border-box;
	overflow-y: scroll;
	width: 100%;
	position: relative;
	overflow: auto;
}

.user-sent{
	float: right;
	clear: both;
	padding: 20px;
	box-sizing: border-box;
	word-wrap: break-word;
	white-space: pre-line;
	margin-top: 10px;
	background-color: #707BC4;
	color: white;
	width: 300px;
	border-radius: 10px;
}

.friend-sent{
	float: left;
	clear: both;
	padding: 20px;
	box-sizing: border-box;
	word-wrap: break-word;
	white-space: pre-line;
	margin-top: 10px;
	background-color: #707BC4;
	color: white;
	width: 300px;
	border-radius: 10px;
}