.chat-send-btn{
	background-color: #707BC4;
	clear: both;
	position: absolute;
	bottom: 20px;
	right: 0.1px;
}

.fileBtn{
	position: absolute;
	right: 0.1px;
	bottom: 125px;
}

#chat-text{
	width: 90%;
}

#message {
	resize: none;
	background-color: white;
	border-color: rgb(230,230,230);
  height: 150px;
  width: 100%;
}

#message:focus {
	outline: 0;
}

.text-box {
	width: 100%;
	margin-right: 0;
}

@media only screen and (max-height: 700px) {
  .chat-text-box #message {
    height: 75px;
  }
}