.chat-profile {
	width: 40px;
	height: 40px;
	display: flex;
	font-size: 1.25rem;
	align-items: center;
	flex-shrink: 0;
	user-select: none;
	border-radius: 50%;
	justify-content: center;
	color: #fafafa;
	background-color: #bdbdbd;
	position: absolute;
	left: 15px;
	margin-top: 21px;
}

.chatlist-message {
	padding-top: 21px;
	padding-bottom: 21px;
}

.chatting-box .unreadMark{
  display: flex;
  align-items: center;
  position: absolute;
  left: 24px;
  bottom: 10px;
}
.chatting-box .guide-text {
  font-size: 15px;
  margin-left: .5rem;
}

.chatRoomList .chatlist-message {
  text-overflow: ellipsis;
  overflow: hidden;
  height: 65px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  white-space: pre-wrap;
  word-break: break-all;
}

.chatRoomList .each-chat .card{
  height: 220px;
}

.chatRoomList .each-chat .card .one-chat {
  display: flex;
  align-items: center;
  position: relative;
}
.chatRoomList .each-chat .card .one-chat .userNickname {
  position: absolute;
  right: 0;
}