body{
	background-color: rgb(245,245,245);
}

@media only screen and (max-width: 992px){
	.chatsTemplate{
		margin-left: 0;
	}
}

@media only screen and (min-width: 1600px){
	.chatMessages{
		width: 1247.5px;
		margin: auto;
	}
}
.chatDashboard .tabs{
	margin-top: 20px;
}
.chatDashboard .tabs .indicator {
	background-color: indigo;
}

.chatDashboard .tabs .tab a.active{
	color: rgb(25, 14, 124);
}

.chatDashboard .tabs .tab a{
	color: rgb(50, 41, 138);
}

.empty-chats{
	background-color : white;
	padding:20px;
}