.myomFooter{
	background-color: grey !important;
	margin-top: 6rem;
}
.myomFooter .sns-list li {
  position: relative;
}
.myomFooter .sns-text {
  position: absolute;
  left: 0;
  padding-left: 3rem;
}
