.mypageForProvider,
.mypageForBuyer {
  min-width: 900px;
  margin-top: 5rem;
}
.mypageForProvider .profile-infos .btn-floating,
.mypageForBuyer .profile-infos .btn-floating {
  width: 10rem;
  height: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.mypageForProvider .profile-infos .btn-floating i,
.mypageForBuyer .profile-infos .btn-floating i {
  font-size: 8rem;
}
.mypageForProvider .collapsible,
.mypageForBuyer .collapsible {
  border: none;
  font-size: 20px;
  font-weight: 500;
  color: #272727;
  margin: 0;
}
.mypageForProvider .collapsible .collapsible-body a,
.mypageForBuyer .collapsible .collapsible-body a {
  color: #272727b0;
  display: block;
  /* margin: 1rem 0 1rem 0; */
}
.mypageForProvider .collapsible .collapsible-direct,
.mypageForBuyer .collapsible .collapsible-direct {
  display: flex;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  line-height: 1.5;
  padding: 1rem;
  background-color: #fff;
  color: #272727 !important;
  /* border-bottom: 1px solid #ddd; */
}
.mypageForProvider .collapsible .collapsible-header,
.mypageForBuyer .collapsible .collapsible-header,
.mypageForProvider .collapsible .collapsible-body,
.mypageForBuyer .collapsible .collapsible-body {
  border: none;
}
.mypageForProvider .collapsible .collapsible-body .collection-item,
.mypageForBuyer .collapsible .collapsible-body .collection-item {
  border: none;
  padding: 1rem;

}

.myPageSidenav .profile-infos {
  border: 1px solid #ddd;
  padding: 2rem 0;
  margin: 1.0933333333rem 0 3rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.myPageSidenav .collapsible-body{
  padding: 0;
}

/* .myPageSidenav .collection-item{
  padding: 0px 20px;
  background-color: rgb(240, 240, 240);
} */

.myPageSidenav .collection{
  background-color: rgb(240,240,240);
}

