.myServices .collection {
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
}
.myServices .collection .collection-wrapper {
  margin: 3rem 0 3rem 0;
}
.myServices .collection .collection-item {
  display: flex;
}

.myServices .collection.notEmpty {
  display: block;
  justify-content: unset;
  align-items: unset;
}

.myServices .link-wrapper a {
  display: block;
  margin-top: 2rem;
  margin-left: 2rem;
}

.myServices #service_delete_modal {
  top: 50% !important;
  width: 30% !important;
  transform: scaleX(1) scaleY(1) translateY(-50%) !important;
}

.myServices #service_delete_modal .preloader {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 3rem 0;
} 

