.ordersManage .sub-title,
.paymentDetails .sub-title,
.profitsManage .sub-title {
  font-size: 24px;
  font-weight: bold;
  color: #272727;
  margin-bottom: 3rem;
}
.ordersManage .collection.no-data,
.paymentDetails .collection.no-data,
.profitsManage .collection.no-data {
  border: 2px solid #dedede;
  border-radius: 12px;
}
.paymentDetails table,
.profitsManage table {
  overflow: hidden;
  border-collapse: separate;
  border-radius: 8px;
  -moz-border-radius: 8px;
  border: solid 2px #dedede;
  background-color: #ffffff;
}
.paymentDetails table thead,
.profitsManage table thead {
  background-color: #eef2ff;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  font-size: 16px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #272727;
}
.paymentDetails table thead th,
.profitsManage table thead th {
  border-radius: unset;
  font-size: 16px;
  font-weight: 500;
}
.paymentDetails table tbody,
.profitsManage table tbody {
  font-size: 15px;
  font-weight: 400;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #272727;
}

/* ******************************************** */

.profitsManage .recharts {
  margin: 4rem 0 8rem 0;
}
.profitsManage .no-data {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 3rem 0;
}
.profitsManage .collection.profits_details {
  display: flex;
  padding: 2rem 0 2rem 0;
}
.profitsManage .collection.profits_details .collection-wrapper:nth-child(1) {
  display: flex;
}
.profitsManage .collection.profits_details .collection-wrapper:nth-child(1) {
  border-right: 1px solid rgb(214, 207, 207);
}
.profitsManage .collection.profits_details .collection-wrapper:nth-child(2) {
  border-right: 1px solid rgb(214, 207, 207);
}

#profitsLog .collection, #depositsLog .collection, #taxDetails .collection {
  display: flex;
  justify-content: center;
  align-items: center;
}
#profitsLog .collection .collection-wrapper,
#depositsLog .collection .collection-wrapper,
#taxDetails .collection .collection-wrapper {
  margin: 3rem 0 3rem 0;
}