.serviceSetting .sub-title {
  margin-bottom: 3rem;
}
.serviceSetting .service-rewrite {
  margin-bottom: 5rem;
}
.serviceSetting .collection .collection-wrapper {
  padding: 3rem;
  background-color: #fff;
}


.serviceSetting #price-rewrite .price-wrapper .price-title {
  border-bottom: 1px solid black;
  border-top: 1px solid black;
  padding: 10px 0;
}
.serviceSetting #contents-rewrite .re_video,
.serviceSetting #contents-rewrite .re_content,
.serviceSetting #contents-rewrite .re_refund,
.serviceSetting #contents-rewrite .re_thumbnail,
.serviceSetting #contents-rewrite .re_title {
  margin: 1.5rem 0;
  position: relative;
}
.serviceSetting #contents-rewrite .service-title-rewrite {
  display: none;
}
.serviceSetting #contents-rewrite .re_title .service-title {
  padding: 1.5rem 0;
}
.serviceSetting #contents-rewrite .re_title:hover .service-title {
  filter: blur(4px);
  font-family: sans-serif;
  background-color: rgb(255, 255, 255);
  box-shadow: 
    0 3px 3px 0 rgba(0,0,0,0.14), 
    0 6px 2px -3px rgba(0,0,0,0.12), 
    0 2px 6px 0 rgba(0,0,0,0.2);
}
.serviceSetting #contents-rewrite .re_video:hover .service-title-rewrite,
.serviceSetting #contents-rewrite .re_content:hover .service-title-rewrite,
.serviceSetting #contents-rewrite .re_thumbnail:hover .service-title-rewrite,
.serviceSetting #contents-rewrite .re_title:hover .service-title-rewrite,
.serviceSetting #contents-rewrite .re_refund:hover .service-title-rewrite {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  position: absolute;
  color: rgb(0, 0, 0);           
  margin: 0;
  top: 0;
  left: 0;
  z-index: 30;
}
/* .serviceSetting #contents-rewrite .service-title:hover::after {
  filter: none;
  content: '수정을 원하시면 클릭하세요!';
  padding: 1.5rem 0;
  text-align: center;
  font-size: 2rem;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
} */

.serviceSetting #contents-rewrite .re_thumbnail .thumbnail {
  padding: 1.5rem 0;
}
.serviceSetting #contents-rewrite .re_thumbnail:hover .thumbnail {
  filter: blur(4px);
  background-color: rgb(255, 255, 255);
  box-shadow: 
    0 3px 3px 0 rgba(0,0,0,0.14), 
    0 6px 2px -3px rgba(0,0,0,0.12), 
    0 2px 6px 0 rgba(0,0,0,0.2);
}

.serviceSetting #contents-rewrite .re_content_wrapper {
  padding: 1.5rem 0;
}
.serviceSetting #contents-rewrite .re_content:hover .re_content_wrapper {
  filter: blur(3px);
  background-color: rgba(255, 255, 255, 0.712);
  box-shadow: 
    0 3px 3px 0 rgba(0,0,0,0.14), 
    0 6px 2px -3px rgba(0,0,0,0.12), 
    0 2px 6px 0 rgba(0,0,0,0.2);
}

.serviceSetting #contents-rewrite .re_video_wrapper {
  padding: 1.5rem 0;
  margin-bottom: 2rem;
}
.serviceSetting #contents-rewrite .re_video:hover .re_video_wrapper {
  filter: blur(3px);
  background-color: rgba(255, 255, 255, 0.712);
  box-shadow: 
    0 3px 3px 0 rgba(0,0,0,0.14), 
    0 6px 2px -3px rgba(0,0,0,0.12), 
    0 2px 6px 0 rgba(0,0,0,0.2);
}

.serviceSetting #contents-rewrite .re_refund_wrapper {
  padding: 1.5rem 0;
}
.serviceSetting #contents-rewrite .re_refund:hover .re_refund_wrapper { 
  filter: blur(4px);
  font-family: sans-serif;
  background-color: rgb(255, 255, 255);
  box-shadow: 
    0 3px 3px 0 rgba(0,0,0,0.14), 
    0 6px 2px -3px rgba(0,0,0,0.12), 
    0 2px 6px 0 rgba(0,0,0,0.2);
}

.serviceSetting #price-rewrite .price-wrapper {
  position: relative;
}
.serviceSetting #price-rewrite .price-wrapper .service-title-rewrite {
  display: none;
}
.serviceSetting #price-rewrite .price-wrapper:hover .re_price {
  filter: blur(3px);
  background-color: rgba(255, 255, 255, 0.712);
  box-shadow: 
    0 3px 3px 0 rgba(0,0,0,0.14), 
    0 6px 2px -3px rgba(0,0,0,0.12), 
    0 2px 6px 0 rgba(0,0,0,0.2);
}
.serviceSetting #price-rewrite .price-wrapper:hover .service-title-rewrite {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  color: rgb(0, 0, 0);           
  margin: 0;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 30;
}

.serviceSetting .input-field {
  margin-bottom: 5rem;
}
.serviceSetting .rewrite-btn-area {
  margin-top: 2rem;
}
.serviceSetting .rewrite-btn {
  margin-left: 1rem;
}
.serviceSetting .input-field textarea {
  height: 15rem !important;
  overflow-y: scroll !important;
}
.serviceSetting .input-field .character-counter {
  float: left !important;
}
.serviceSetting #price-rewrite.collection {
  overflow: unset;
}
.serviceSetting #price-rewrite .input-field {
  margin-bottom: 1rem;
}
.serviceSetting #price-rewrite .character-counter {
  float: right !important;
}

.serviceSetting .file-field.input-field {
  margin-top: 0;
  margin-bottom: 0;
}
.serviceSetting .thumb-img {
  position: relative;
}
.serviceSetting .material-icons.close-btn {
  font-size: 20px;
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  padding: .2rem;
  opacity: 1;
  background-color: rgba(0, 0, 0, .3);
}
.serviceSetting .material-icons.close-btn:hover {
  opacity: .8;
}
.serviceSetting .side-img .file-field.input-field {
  position: relative;
  height: 10rem;
}
.serviceSetting .file-field.input-field.new-update {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f5f5f5;
  border: 1px dashed black;
}
.serviceSetting .file-field.input-field.new-update span {
  position: absolute;
  bottom: 10px; 
}
.serviceSetting .file-field.input-field.new-update h6 {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding-bottom: 3.5rem;
}
.serviceSetting .img-uploader {
  margin-top: 1.5rem;
}
.serviceSetting .under-side-area {
  margin-top: 1.5rem !important;
}
.serviceSetting .under-side-area i.close-btn {
  margin-left: .75rem;
}
.serviceSetting .under-side {
  height: 15rem;
  width: 100%;
}

.serviceSetting .video-file .video-wrapper {
  position: relative;
  margin-bottom: 2rem;
}
.serviceSetting .video-file .video-wrapper .video-preview {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 15rem;
  background-color: #f5f5f5;
  border: 1px dashed black;
}
.serviceSetting .video-file .video-wrapper .video-preview span {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
}
.serviceSetting .video-file .video-wrapper.new-update video {
  margin-bottom: 0;
}
.serviceSetting .video-file .video-wrapper.new-update {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 15rem;
  height: auto;
  background-color: #f5f5f5;
  border: 1px dashed black;
}
.serviceSetting .video-file .video-wrapper.new-update span {
  position: absolute;
  bottom: 10px;
}
.serviceSetting .video-file .video-wrapper.new-update h6.pointer {
  position: absolute;
  color: #fff;
  padding-bottom: 1.5rem;
}

.serviceSetting .options .input-field.col.s12 {
  position: relative;
}
.serviceSetting .options .chips.chips-initial {
  position: unset;
  padding: 0;
}
.serviceSetting .options .chips .input.custom-class {
  position: absolute;
  right: 0.75rem;
  margin-bottom: 1rem;
  bottom: 0;
  text-align: right;
}
.serviceSetting .options .chips .input.custom-class:focus {
  border-bottom: 1px solid #26a69a !important;
  box-shadow: 0 1px 0 0 #26a69a !important;
}
.serviceSetting .options .input-field.col.s12 span {
  position: absolute;
  bottom: -5px;
  right: .75rem;
  font-size: 12px;
}

.serviceSetting .delete-service,
.serviceSetting .pause-service {
  margin-bottom: 2rem;
}