.service-wrapper .chips {
  display: flex;
  align-items: center;
  margin: 0;
  border: none;
  overflow: hidden;
}
.service-wrapper .chips .chip {
  margin-bottom: 0;
}
.service-wrapper .chips input {
  display: none;
}
.service-wrapper .title-name {
  height: 44px;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.service-wrapper .card .card-image img {
  height: 15rem;
}
.service-wrapper .card .card-content p.service-content {
  clear: both;
  margin-top: 1rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.service-wrapper .card .card-content .rate {
  float: right;
}
.service-wrapper .card .card-content .rate i.material-icons {
  font-size: 18px;
  color: #ffbf00;
}
