body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fff;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.myomColor {
  color: #4F328F !important;
}
.myomColor-background {
  background-color: #4c20e1 !important;
}
.circle-icons {
  width: 10px;
  height: 10px;
  border: solid 2px #4c20e1;
  background-color: #ffffff;
  border-radius: 50%;
  float: left;
  margin-right: 10px;
  margin-left: 5px;
}
/* input number type default button deleted */
input[type="number"] {
  -webkit-appearance: textfield;
     -moz-appearance: textfield;
          appearance: textfield;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none;
}

/* input radio type default color changed */
[type="radio"]:checked+span:after, [type="radio"].with-gap:checked+span:before, [type="radio"].with-gap:checked+span:after {
  border: 2px solid #4c20e1 !important;
}
[type="radio"]:checked+span:after, [type="radio"].with-gap:checked+span:after {
  background-color: #4c20e1 !important;
}

[type="checkbox"].filled-in:checked+span:not(.lever):after {
  border: 2px solid #4c20e1 !important;
  background-color: #4c20e1 !important;
}
/* input.valid[type=password]:not(.browser-default) {
  box-shadow: none !important;
} */