.banner {
  position: relative;
  margin-bottom: 5rem;
}
.banner .banner-img {
  position: relative;
  height: 640px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.banner .background-img1 {
  background-image: url("/img/banner/banner1.png");
}
.banner .background-img2 {
  background-image: url("/img/banner/banner2.jpg");
}
.banner .background-img3 {
  background-image: url("/img/banner/banner3.jpg");
}
.banner .background-img4 {
  background-image: url("/img/banner/banner4.jpg");
}
.banner .background-img5 {
  background-image: url("/img/banner/banner5.jpg");
}
.banner .background-img6 {
  background-image: url("/img/banner/banner6.jpg");
}
.banner .banner-img .container .text-wrapper {
  position: absolute;
  top: 40%;
  transform: translateY(-40%);
}
.banner .banner-img .container .text-wrapper h6 {
  padding-left: 0.2rem;
  height: 33px;
  font-size: 24px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  margin: 0;
}
.banner .banner-img .container .text-wrapper h3 {
  height: 77px;
  font-size: 52px;
  font-weight: 400;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  margin: 0;
}
.banner .banner-img .container .text-wrapper h3 .bold-style {
  font-weight: bold;
}
.banner .banner-img .container .text-wrapper .btn {
  width: 150px;
  padding: .35rem .5rem;
  margin-top: 2rem;
  font-size: 16px;
  border-radius: 8px;
  font-weight: 500;
  letter-spacing: 1.5px;
}

/* MATERIALIZE SLIDER UI. */
/* ****************************************************** */
/* .banner .slider {
  height: 500px !important;
}
.banner .slider .indicators {
  bottom: 10px;
  z-index: 5;
}
.banner .slider .indicators .indicator-item {
  opacity: .5;
  width: 10px;
  height: 10px;
}
.banner .slider .indicators .indicator-item.active {
  background-color: #fff !important;
  opacity: 1 !important;
}
.banner .slides li::after {
  content: '';
  position: absolute;
  top: 0;
  left:0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: .35;
  z-index: 5;
}
.banner .slides .caption {
  z-index: 10;
} */
/* ****************************************************** */

/* REACT SWIPER UI. */
.banner .swiper-pagination {
  display: inline-table;
  padding: 0 15px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  table-layout: fixed;
  border-spacing: 10px;
  left: 50%;
  transform: translateX(-50%);
  width: 660px;
  bottom: 30px;
}
.banner .swiper-pagination .swiper-pagination-bullet {
  position: relative;
  display: table-cell;
  height: 6px;
  border-radius: 4px;
  box-shadow: 0 4px 14px 0 rgba(0, 0, 0, 0.12);
  background: #f8f8f8;
  opacity: 1;
}
.banner .swiper-pagination .swiper-pagination-bullet::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 0;
  height: 100%;
  min-height: 6px;
  border-radius: 4px;
}
.banner .swiper-pagination .swiper-pagination-bullet-active::after {
  width: auto;
  background: #4c20e1;
  animation: progressbar 5s linear forwards;

}
.banner .swiper-pagination .swiper-pagination-bullet.prev::after {
  width: 100%;
  background: #4c20e1;
}

@keyframes progressbar {
  from {
    width: 0%;
  }

  to {
    width: 100%;
  }
}

@media only screen and (max-width: 1080px) {
  .banner .slider {
    height: 300px !important;
  }
  .banner .slider .slides {
    height: 300px !important;
  }
  .banner .slider .slides .caption {
    font-size: 2rem;
  }
}

@media only screen and (max-width: 450px) {
  .banner .slider {
    height: 200px !important;
  }
  .banner .slider .slides {
    height: 200px !important;
  }
  .banner .slider .slides .caption {
    font-size: 1.45rem;
  }
}