.banner {
  position: relative;
  margin-bottom: 5rem;
}
.banner::after {
  content: '';
  position: absolute;
  top: 0;
  left:0;
  height: 100%;
  background-color: white;
  opacity: .35; 
}
.banner img {
  top: 0;
  width: 100%;
  max-height: 500px;
}
.banner .banner-text1 {
  bottom: 0;
  z-index: 10;
  position: absolute;
  margin: 0;
  color: black;
  padding: 16rem 6rem;
}
.banner .banner-text2 {
  bottom: 0;
  z-index: 10;
  position: absolute;
  margin: 0;
  color: black;
  padding: 9rem 6rem;
}
.banner .banner-text3 {
  bottom: 0;
  z-index: 10;
  position: absolute;
  margin: 0;
  color: white;
  padding: 3rem 6rem;
}