.signup {
	margin-top: 5rem;
}

.signup #signUp_submit {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.signup .card{
  border-radius: 10px;
  width: 600px;
}

.conditions{
	white-space: pre-line;
}

.terms span{
	font-size: 1rem !important;
	color: black;
}

.term{
	border: 1px solid black;
	overflow-y: scroll;
	height: 6rem;
	word-wrap: break-word;
	white-space: pre-line;
	font-size: 12px;
}

.signupBtn{
	margin-top: 40px;
	margin-bottom: 0;
}
#signUp_submit{
	background-color: rgb(248,249,250) !important;
}

@media only screen and (max-width: 1024px){
  .signup .card{
    min-width: unset;
    width: 100%;
    margin-top: 2rem;
  }
}
@media only screen and (max-width: 360px) {
  .signup {
    margin-top: 2rem;
  }
}