.signin .card{
	width: 50%;
  margin-left: 25%;
  margin-top: 10rem;
  border-radius: 20px;
}

.signin {
  position: absolute;
  left: 50%;
  margin-top: 10rem;
  transform: translate(-50%, -25%);
}

.login-error{
  margin-bottom: 5px;
}